Flask==3.0.0
Flask-SQLAlchemy==3.1.0
Flask-Security==3.0.0
Flask-Dance>=3.3.1
Flask-Login>=0.6.3
Flask-Talisman>=0.7.0
Flask-RestX==1.3.0
psycopg2-binary>=2.7
SQLAlchemy==2.0.16
Werkzeug==3.0.0
gunicorn>=19.5
Flask-Caching>=2.1.0
redis>=3.1
requests>=2.9
SQLAlchemy-Utils>=0.40.0
pytest>=7.4.3
flask-ckeditor==1.0.0
