.sponsor-banner {
    background-color: white;
}

.games-container {
    background-color: #371572;
}

.navbar .icon-bar {
    background-color: #371572;
}

#header .navbar {
  background-color: white;
}
#header .navbar-nav a {
  color: #371572 ;
  text-shadow: -1px 0 #ECE3BF  , 0 1px #ECE3BF , 1px 0 #ECE3BF , 0 -1px #ECE3BF ;
}

#header .navbar-nav a:hover,
#header .navbar-nav a:focus {
  color: #371572 ;
  background-color: #E7BF42;
  text-shadow: -1px 0  #ECE3BF, 0 1px #ECE3BF , 1px 0 #ECE3BF , 0 -1px #ECE3BF ;
}

.fun-div {
    color: #371572;
}

.fun-meter {
    color: #371572;
}

.fun-meter .CircleColor {
  fill: #371572 ;
}

.fun-meter .WaveColor {
  fill: #E7BF42;
}

.fun-meter .liquidUnfilledGaugeText {
  fill: #000;
}

.fun-meter .liquidFilledGaugeText {
  fill: #FFF;
}

p.accent{
  color: #371572;
}

.leaderTitle{
  color: #E7BF42;
}

.btn-primary {
  background: #8FbCE6;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #8FBCE6;
}

li.presentation a{
  background-color: #371572
  color: #E7BF42;
}

li.presentation a:hover{
  background-color: #371572;
  color: #E7BF42;
}

.active .presentation a{
  background-color: #371572;
  color: #E7BF42;
}

#listing>li.active>a{
  background-color: #E7BF42;
  color: #371572;
  font-weight: bold;

}

.footer {
  border-top: 5px solid #8FBCE6;
}

nav.accent{
  background-color: #371572;
  border-color: #371572;
}

div.accent{
  background-color: #371572;
}


div.secondary{
  background-color: #E7BF42;
}

a {
  color: #371572;
}

a:hover, a:focus {
  color: #E7BF42;
}

#header  .dropdown-menu>li>a {
 color: #E7BF42 ;
 text-shadow: -1px 0 #371572 , 0 1px #371572 , 1px 0 #371572 , 0 -1px #371572 ;
}

#header  .dropdown-menu>li>a:hover,
#header  .dropdown-menu>li>a:focus{
  color: #371572 ;
  text-shadow: -1px 0  #E7BF42, 0 1px #E7BF42 , 1px 0 #E7BF42 , 0 -1px #E7BF42 ;
}

#bottom {
  border-bottom: 5px solid #371572;
}

#bottom ul li a {
  color: #E7BF42  ;
}

#footer a:hover {
  color: #E7BF42;
}