.sponsor-banner {
    background-color: #F8B800;
}

.games-container {
    background-color: #2F3780;
}

.navbar .icon-bar {
    background-color: #FDDA72;
}

#header .navbar-nav a {
  color: #FDDA72 ;
  text-shadow: -1px 0 #2F3780 , 0 1px #2F3780 , 1px 0 #2F3780 , 0 -1px #2F3780 ;
}

#header .navbar-nav a:hover,
#header .navbar-nav a:focus,
 {
  color: #2F3780 ;
  text-shadow: -1px 0  #FDDA72, 0 1px #FDDA72 , 1px 0 #FDDA72 , 0 -1px #FDDA72 ;
}

.fun-div {
    color: #2F3780;
}

.fun-meter {
    color: #2F3780;
}

.fun-meter .CircleColor {
  fill: #2F3780 ;
}

.fun-meter .WaveColor {
  fill: #FDDA72;
}

.fun-meter .liquidUnfilledGaugeText {
  fill: #000;
}

.fun-meter .liquidFilledGaugeText {
  fill: #FFF;
}

p.accent{
  color: #2F3780;
}

.leaderTitle{
  color: #FDDA72;
}

.btn-primary {
  background: #8FbCE6;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #8FBCE6;
}

li.presentation a{
  background-color: #2F3780
  color: #FDDA72;
}

li.presentation a:hover{
  background-color: #2F3780;
  color: #FDDA72;
}

.active .presentation a{
  background-color: #2F3780;
  color: #FDDA72;
}

#listing>li.active>a{
  background-color: #FDDA72;
  color: #2F3780;
  font-weight: bold;

}

.footer {
  border-top: 5px solid #8FBCE6;
}

nav.accent{
  background-color: #2F3780;
  border-color: #2F3780;
}

div.accent{
  background-color: #2F3780;
}


div.secondary{
  background-color: #FDDA72;
}

a {
  color: #2F3780;
}

a:hover, a:focus {
  color: #FDDA72;
}

#header  .dropdown-menu>li>a {
 color: #FDDA72 ;
 text-shadow: -1px 0 #2F3780 , 0 1px #2F3780 , 1px 0 #2F3780 , 0 -1px #2F3780 ;
}

#header  .dropdown-menu>li>a:hover,
#header  .dropdown-menu>li>a:focus{
  color: #2F3780 ;
  text-shadow: -1px 0  #FDDA72, 0 1px #FDDA72 , 1px 0 #FDDA72 , 0 -1px #FDDA72 ;
}

#bottom {
  border-bottom: 5px solid #2F3780;
}

#bottom ul li a {
  color: #FDDA72  ;
}

#footer a:hover {
  color: #FDDA72;
}