.action-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.gameHeading {
    text-align: center;
}

.bases-column {
    margin-bottom: 10px;
}

.submitGameControls {
    margin-top: 40px;
}

.submitGameControls__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width: 500px) {
    .submitGameControls__container {
        flex-direction: column;
     }
}

#battingScoreApp li {
    margin-top: 5px;
    margin-bottom: 5px;
}
.glyphicon--info {
    color: #5bc0de;
}

.glyphicon--danger {
    color: #c9302c;
}
.bases-column {
    
}

.bases {
    background-image: url("/static/pictures/batting_app/field.png");
    background-size: cover;
    padding-top: 80%;
}

.first-base {
    position: absolute;
    left: 72.5%;
    top: 55%;
}

.second-base {
    position: absolute;
    left: 44.0%;
    top: 22.5%;
}
.third-base {
    position: absolute;
    left: 17.5%;
    top: 55%;
}

.advance-base {
    color:#449d44;
}

.base-runner {
    color: #31b0d5;
}

.runner-out {
    color: #c9302c;
}

.runner-icon {
    font-size: 18px;
}

.glyphicon--lg {
    font-size: 18px;
}

.advance-base:hover,
.runner-out:hover {
    cursor: pointer;
}

.battingScoreApp__container {
    width: 100%;
}

.battingScoreApp__controls {
    justify-content: space-between;
    align-items: center;
}
