.glyphicon--disabled,
span.glyphicon:disabled {
    color: grey !important;
    opacity: 0.5;
}

.glyphicon--disabled:hover{
    cursor: not-allowed;
}
.glyphicon--info {
    color: #5bc0de;
}

.glyphicon--success {
    color:#449d44;
}

.glyphicon--danger {
    color: #c9302c;
}

.glyphicon--lg {
    font-size: 18px;
}

.glyphicon--actionable:hover {
    cursor: pointer;
}

.player-bats__summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.summary__player span {
    font-size: 10px;
}



.battingScoreApp__heading {
    text-align: center;
}

.battingScoreApp__games {
    margin-top: 5px;
    margin-bottom: 5px;
}

.battingScoreApp__container {
    width: 100%;
}

.battingScoreApp__game {
    
}
    .game__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .game__column {

    }
        .game__column.column__actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
            .actions__group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
            }
        .game__column.column__roster {
            width: 50%;
            max-width: 500px;
        }

        .game__column.column__status {
            width: 40%;
            max-width: 800px;
            min-width: 250px;
        }
            
            .game__column.column__status .status__text {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
            }
            .game__column.column__status .status__bases {
                background-image: url("/static/pictures/batting_app/field.png");
                background-size: cover;
                position: relative;
            }
            .bases__spacing {
                padding-top: 85%;
            }
            .bases__first {
                position: absolute;
                left: 70.0%;
                top: 55%;
            }
            .bases__second {
                position: absolute;
                left: 42.5%;
                top: 22.5%;
            }
            .bases__second.bases__base--runner {
                left: 38.0%;
            }
            .bases__third {
                position: absolute;
                right: 76.0%;
                top: 55%;
            }
    

.battingScoreApp__controls {
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
    .battingScoreApp__controls .controls__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #101010;
}

input:focus + .slider {
    box-shadow: 0 0 1px #101010;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 300px) {
    .actions__group {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 550px) {
    .battingScoreApp__controls .controls__container {
        flex-direction: column;
    }

    .game__column {}
        .game__column.column__status {
            width: 90%;
        }
            .game__column.column__status .status__bases {
            }
                .bases__spacing {
                    padding-top: 70%;
                }

}

@media screen and (max-width: 750px) {
    .game__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .game__column {

    }
        .game__column.column__actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
            .actions__group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                gap: 5px;
            }
        .game__column.column__roster {
            width: 90%;
        }
        .game__column.column__status .status__bases {
        }
            .bases__spacing {
                padding-top: 70%;
            }
}

@media screen and (max-width: 1600px) {
    .game__column {}
        .game__column.column__status .status__bases {
        }
            .bases__spacing {
                padding-top: 80%;
            }
}
