@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,300);

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
}

.sponsor-banner {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
    white-space: nowrap;
    overflow: hidden;
}

.sponsor-banner .sponsor-cell {
    height: 60px;
    width: 60px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    margin-left: 0px;
    margin: 0 3px;
    padding: 6px;
    display: inline-block;
}

.sponsor-cell img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.games-container {
    border-bottom: 1px solid #dcdcdc;
}

.games {
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0 -15px;
}

.games::-webkit-scrollbar {
    visibility: hidden;
    display: none;
}

.games .game {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid #dcdcdc;
}

.games .game img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    display: inline-block;
    margin-right: 6px;
}

.games .game .team {
    font-weight: 300;
    font-size: 14px;
}

.navbar {
    border-top: 0;
    border-bottom: 1px solid #dcdcdc;
}

.navbar .container .navbar-brand {
    padding: 6px 0px;
}

.navbar .container .navbar-brand img {
    width: auto;
    height: 100%;
    margin-right:5px;
}

.navbar .container .navbar-nav {
    font-size: 12px;
}

.navbar .navbar-toggle {
    margin-right: -15px;
}

.navbar .icon-bar {
    background-color: #84b0dc;
}

@media screen and (max-width: 992px) {
    .navbar .container .navbar-nav>li>a {
        padding: 15px 10px;
    }
}

.main-header {
    margin-top: 0;
}


p.primary{
  color:#FFFFFF;
}

p.accent{
  color:#092C5C;
}

.mainTitle{
  color: #000;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.leaderTitle{
  color: #092C5C;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}
.mainBlock{
  margin-bottom: 20px;
}
.leadersList li{
  margin: 0px 0px 24px;
  line-height: 18px;
  text-align: center;
}

.leadersList>.leaderPoint >.leaderBadge{
  float: left;
}


.sleeman{
  color: #CE1233;
}

.sapporo{
  color: #F4C92D;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn-primary {
  padding: 8px 20px;
  background: #8FBCE6;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus{
  background: #8FBCE6;
  outline: none;
  box-shadow: none;
}

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


.presentation{
  padding-top:5px;
  padding-bottom:5px;
}

li.presentation a{
  background-color: #092C5C;
  color: #8FBCE6;
}

li.presentation a:hover{
  background-color: #8FBCE6;
  color: #092C5C;
}

.active .presentation a{
  background-color: #8FBCE6;
  color: #092C5C;
}

#listing>li.active>a{
  background-color: #8FBCE6;
  color: #FFF;
}

.postImage{
  max-width: 600px;
  max-width: 400px;
  border-radius: 25px;
  padding: 10px;
}

/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding: 10px 0;
  border-bottom: 1px solid #DCDCDC;
}

.top-number{
  color: #fff;
}

.top-number p{
  margin: 0
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.team .btn {
  background:transparent;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  border:1px solid#ddd;
  margin-right: 3px;
}

ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}

/***********************
****Service page css****
***********************/
.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #8FBCE6;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}

/******************
 404 page css
 ******************/

#error .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success:hover {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: #4E4E4E;
}

#error h1{
  color: #4e4e4e;
  text-transform: uppercase;
}

.sponsor {
  width: 100%;
  max-width: 50px;
  height:100%;
  max-height:50px;
  border-radius: 60px
}

.big-sponsor {
  width: 100%;
  max-width: 150px;
  height:100%;
  max-height:150px;
  border-radius: 60px
}

.2015{

}

.navlinks{
  color: #000000;
}

.eventImage{
  max-width:500px;
  max-height:500px;
}

nav.primary{
  background-color: #151515;
}

nav.accent{
  background-color: #092C5C;
  border-color: #092C5C;
}

div.accent{
  background-color:#092C5C;
}


@media (max-wdith: 640px)
{
  div.primary{
    display: none;
  }
}


div.secondary{
  background-color: #8FBCE6;
}

div.neutral{
  background-color: #eaeaea;
}

a {
  color: #8FBCE6;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #8FBCE6;
}


/***********************
********* Footer ******
************************/
#bottom {
  background: #f5f5f5;
  border-bottom: 5px solid #092C5C;
  font-size: 14px;
}

#bottom h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size:22px;
  color: #000;
}

#bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#bottom ul li {
  display: block;
  padding: 5px 0;
}

#bottom ul li a {
  color: #8FBCE6  ;
}

#bottom ul li a:hover {
  color: #fff;
}

#bottom .widget {
  margin-bottom: 0;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
  font-size: 12px;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #8FBCE6;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
